<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>博客</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/nprogress/css/nprogress.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body{
            padding-top: 70px;
        }

        /*当屏幕尺寸小于992px(col-md-xs>=992)时，取消侧边栏的固定,让其自动浮动到顶部*/
        @media screen and (max-width: 991px) {
            .MySidebar {
            }
        }

        /*当屏幕尺寸>=992px(col-md-xs>=992)时，将侧边栏固定到左侧,并且不允许跟随页面滚动*/
        @media only screen and (min-width: 992px) {
            .MySidebar {
                top: 70px;
                bottom:0;
                position:fixed;
                overflow-y:scroll;
                overflow-x:hidden;
                -ms-overflow-style:none;
                overflow:-moz-scrollbars-none;
            }

            .MySidebar::-webkit-scrollbar
            {
                width:0px
            }
        }

    </style>
</head>
<body>

<div class="header">
    <div class="container-fluid" style="padding-right: 0px;padding-left: 0px">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">首页</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar-collapse" style="margin-right: 0px;padding-right: 0px">
                <ul class="nav navbar-nav">
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a href="/Blog" class="dropdown-toggle" data-toggle="dropdown">
                            博客
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Blog">博客首页</a></li>
                            <li><a href="/Blog/AddBlog">新建博客</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a href="/Blog">博客</a>
                    </li>
                    <li>
                        <a href="#">聊天室</a>
                    </li>
                    <li>
                        <a href="#">工具箱</a>
                    </li>
                    <li>
                        <a href="#">留言板</a>
                    </li>
                    <li>
                        <a href="#">关于我</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 MySidebar">
                <div class="panel-group" id="accordion">
                    <!--年,添加年份-->
                    <div class="panel panel-default" th:each="year:${articleInfoMap.keySet()}">
                        <!--年份的标题-->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" th:href="'#'+${year}" th:text="${year}+'年'">
                                    2015年
                                </a>
                            </h4>
                        </div>
                        <!--月份-->
                        <div th:id="${year}" class="panel-collapse collapse out">
                            <div class="panel-body">
                                <!--月份展开,添加月份-->
                                <div class="panel panel-default" style="border: none" th:each="month:${articleInfoMap.get(year).keySet()}">

                                    <div class="panel-heading" style="border: 1px solid #ddd;margin-bottom: -1px;">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse"  th:href="'#'+${year}+${month}" th:text="${month}+'月'">
                                                3月
                                            </a>
                                        </h5>
                                    </div>

                                    <div th:id="${year}+''+${month}" class="panel-collapse collapse out">
                                        <div class="panel-body" style="padding: 0px">
                                            <ul class="list-group">
                                                <!--添加博客列表条目-->
                                                <li class="list-group-item" th:each="articleInfo:${articleInfoMap.get(year).get(month)}">
                                                    <a href="javascript:void(0);" th:onclick="'GetArticle('+ ${articleInfo.getArticleID()} +')'" th:utext="${articleInfo.getTitle()}">第一条博客</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="MyArticleArea">
                    <div class="MyTitle">
                        <h2 class="text-center">
                            <div th:if="${article}" th:utext="${article.getTitle()}"></div>
                        </h2>
                    </div>
                    <div class="MyTime">
                        <p class="text-center small">
                        <span th:if="${article}" th:utext="${article.GetFormatTime()}"></span>
                        </p>
                    </div>
                    <div class="MyContent">
                        <div th:if="${article}" th:utext="${article.getContent()}"></div>
                        <div th:unless="${article}" th:if="${articleInfoListWithRecent}">
                            <div th:if="${articleInfoListWithRecent.size()} eq 0">
                                <H2>暂时没有博客</H2>
                            </div>
                            <div th:if="${articleInfoListWithRecent.size()} gt 0">
                                <H2 th:utext="'最近的 '+ ${articleInfoListWithRecent.size()} +' 篇博客' "></H2>
                                <HR>
                                <ul class="list-group" style="list-style: decimal inside">
                                    <li class="list-group-item" style="display: list-item"  th:each="articleInfo:${articleInfoListWithRecent}">
                                        <a href="javascript:void(0);" th:onclick="'GetArticle('+ ${articleInfo.getArticleID()} +')'">
                                            <span  th:utext="${articleInfo.getTitle()}"></span>
                                            <span class="pull-right text-right"  th:text="${articleInfo.GetFormatTime()}"></span>
                                        </a>
                                        <br>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-group-vertical ChangeBtnGroup" sec:authorize="isAuthenticated()">
                    <button type="button" class="btn btn-default" th:if="${article}" th:onclick="'OnChange('+${article.getId()}+')'">修改博客</button>
                    <button type="button" class="btn btn-default" th:if="${article}" th:onclick="'OnDelete('+${article.getId()}+')'">删除博客</button>
                </div>
                <div>
                    <br>
                </div>
                <div class="panel-group" id="TagAccordion">
                    <div class="panel panel-default" th:each="tag:${articleInfoWithTag.keySet()}">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#TagAccordion" th:href="'#'+${tag}" th:text="${tag}">
                                    琐事
                                </a>
                            </h4>
                        </div>
                        <div th:id="${tag}" class="panel-collapse collapse out">
                            <div class="panel-body">
                                <ul>
                                    <li th:each="articleInfo:${articleInfoWithTag.get(tag)}">
                                        <a href="javascript:void(0);" th:onclick="'GetArticle('+ ${articleInfo.getArticleID()} +')'" th:utext="${articleInfo.getTitle()}">第一条博客</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- 错误模态框（Modal） -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    服务器开了一点小差
                </h4>
            </div>
            <div class="modal-body">
                <div id="errorContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/nprogress/js/nprogress.js"></script>
<script src="/js/MyJs.js"></script>
<script>

    function success(item) {
        $(".MyTitle h2").html(item.title);
        $(".MyTime p").html(FormatDateTime(item.time,"yyyy年MM月dd日 HH:mm:ss"));
        $(".MyContent").html(item.content);
        $(".ChangeBtnGroup").html(
            "<button type='button' class='btn btn-default' onclick='OnChange("+item.id+")'>修改博客</button>" +
            "<button type='button' class='btn btn-default' onclick='OnDelete("+item.id+")'>删除博客</button>"
        );
        //更新浏览器地址栏
        var newUrl = 'http://'+window.location.host + '/Blog/'+item.id;
        var data = new Object();
        data.title = item.title;
        data.time = FormatDateTime(item.time,"yyyy年MM月dd日 HH:mm:ss");
        data.content = item.content;
        window.history.pushState(data,null,newUrl);
    }

    window.addEventListener("popstate",function (event) {
        var data = event.state;
        if(data == null){
            $(".MyTitle h2").html('');
            $(".MyTime p").html('');
            $(".MyContent").html('');
        }
        else {
            $(".MyTitle h2").html(data.title);
            $(".MyTime p").html(data.time);
            $(".MyContent").html(data.content);
        }
    });

    function GetArticle(articleID) {
        RequestAsyn('/Blog/'+articleID,'POST',success,$("#errorContent"),$("#errorModal"),null);
    }

    function OnChange(articleID) {
        window.location.href = "/Blog/Update/"+articleID;
    }

    function OnDelete(articleID) {
        if(window.confirm('确认删除该博客？')){
            window.location.href = "/Blog/Delete/"+articleID;
        }
    }
</script>

</body>
</html>